.content{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: var(--global-gap);

}

.content label{
    display: flex;
    flex-direction: column;
    width: 0.5fr;
}

button{
    margin-top:  var(--global-gap);
}
#content{
    margin-bottom:var(--global-gap);
}